body {
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

#counter {
    color: red;
    font-weight: 600;
}
.container {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100vh;
}

.menu-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
}

.box-menu{
    width: 100px;
    flex-direction: column;
    border: 2px solid lightgray;
    height: 40px;
    align-items: center;
    margin: 20px;
}

.click-container {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 0;
}

.click-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: fit-content;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: relative;
}

.click-holder img {
    height: 100%;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.boost-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.boost-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.boost {
    width: 100px;
    height: 160px;
    background: burlywood;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auto {
    background: hotpink;
}

.boost img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}
